*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Raleway', sans-serif;
}
/* banner */


.header_logo{
    width: 100%;
    background: #000000;
    display: flex;
    justify-content: center; 
}
.grafic_logo{
    padding: 5px;
    max-width: 100%;
    box-sizing: border-box;
}
nav{
    margin: auto;
    width: 800px;
    height: 40px;
}
/* MENU  */
.topnav{
    margin-top: 40px;
     font-size: 14px; 
     text-transform: uppercase;
}
.topnav a{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    text-align: center;
    padding: 14px 16px ;
    font-weight: bold;
}
.topnav_item:hover{
    border-bottom: 3px solid #000000;
  }
.topnav .icon{
    display: none;
}

.wrapper{
    width: 76%;
    margin: 0 auto;
}

.main_welcome_foto{
    max-width: 100%;
}

.advantages_comtainer{
    display: flex;
    justify-content: center;
}
.advantages{
    padding-top: 40px;
    padding-bottom: 40px;
    width: 76%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}
.advantages_item{
    width: 30%;
}
footer{
    width: 100%;
    height: auto;
    background: #000000;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
}
footer a{
    color: white;
    font-size: 14px;
    
    margin-left: 20px;
}
 
footer nav a:hover{
    border-bottom: 1px solid #ffffff;
}
.footer_logo{
    margin-top: 20px;
}
.social img{
    margin-top: 20px;
    margin-bottom: 20px;
}
.social img:hover{
    background: #494949;
    border-radius: 50%;
}
.footer_text p{
    color: white; 
    
}
@media screen and (max-width: 638px){
    .topnav a:not(:first-child){
        display: none;
    }
    .topnav a.icon{
        float: right;
        margin-top: -17px;
        display: block;
        color: black;
    }
    nav{
        width: 100%;
        height: 100px;
    }
    .topnav.responsive{
        position: relative;
    }
    .topnav.responsive a.icon{
         position: absolute;
         right: 0;
         top: 0;
    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }
    .advantages_item{
        width: 45%;
    }
}
